
body {
  padding: 40px 80px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, sans-serif;
  background: url(images/bg.png);
  text-align: center;
}

#content {
  margin: 0 auto;
  padding: 10px 40px;
  text-align: left;
  background: white;
  width: 50%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 black;
}

pre {
  padding: 10px;
}

code {
  font: 12px/1 monaco, monospace;
}

p code {
  border: 1px solid #ECEA75;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #FDFCD1;
}

pre {
  padding: 20px 25px;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 0 5px #eee;
  -moz-box-shadow: inset 0 0 5px #eee;
  box-shadow: inset 0 0 5px #eee;
}